<div class="panel panel-default">
  <div class="panel-heading">
    <div class="visible-md-block visible-lg-block">
      <h2>
        $title$
        <small>by $author$
          $if(twitter)$
            (<a href="http://twitter.com/$twitter$">@$twitter$</a>)
          $endif$
        </small>
      </h2>
    </div>
    <div class="visible-xs-block visible-sm-block">
      <h2>$title$</h2>
      <p>
        By $author$
        $if(twitter)$
          (<a href="http://twitter.com/$twitter$">@$twitter$</a>)
        $endif$
      </p>
    </div>
  </div>
  <div class="panel-body">
    $body$
    <div class="row" s>
        <div class="col-xs-12">
          $if(slides)$
            <a class="btn btn-xs"href="$slides$" target="_blank">Slides <i class="mdi-action-launch mdi-sm"></i></a>
          $endif$
          $if(source)$
            <a class="btn btn-xs" href="$source$" target="_blank">Source Code <i class="mdi-action-launch mdi-sm"></i></a>
          $endif$
        </div>
    </div>
    $if(hasVideo)$
    <hr/>
    <div class="videoWrapper">
      $if(ytid)$
      <iframe width="560" height="315" src="https://www.youtube.com/embed/$ytid$" frameborder="0" allowfullscreen></iframe>
      $endif$
      $if(vimeoid)$
      <iframe src="https://player.vimeo.com/video/$vimeoid$?title=0" width="516" height="290" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      $endif$
    </div>
    $endif$
  </div>
  <div class="panel-footer">
    $date$ - <a target="_blank" href="http://www.meetup.com/Brisbane-Functional-Programming-Group/events/$event$/">View on Meetup <i class="mdi-action-launch mdi-sm"></i></a>
  </div>
</div>
